In [501]:
from dotenv import load_dotenv
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import os

In [502]:
load_dotenv(override=True)
csv_path = os.getenv('CSV_PATH')
csv_path

'wandb_output_2025-01-02-11-11-34.csv'

In [503]:
df = pd.read_csv(csv_path)
df.describe()

,target_character,branch_factor,total_iterations,n_self_alignment,total_timesteps,seed,Evaluation/llm_iteration,Evaluation/acc_imp_perc,Evaluation/exist_imp_perc,Evaluation/reach_imp_perc,Evaluation/path_length,Evaluation/fn_imp_perc,Evaluation/fp_imp_perc,Evaluation/tn_imp_perc,Evaluation/tp_imp_perc,Evaluation/solvability,Evaluation/playability
count,1399.000000,1399.0,1399.000000,1399.000000,1.399000e+03,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000
mean,1.496783,2.0,6.947820,1.611866,4.914224e+07,3.990708,3.800572,0.133310,0.679485,0.416595,19.033000,2.401978,0.198094,0.138933,0.260996,0.228640,0.466000
std,0.500168,0.0,1.395166,2.337760,5.796421e+06,2.552297,1.998812,0.232617,0.293819,0.340066,12.085304,0.928620,0.412757,0.320937,0.500843,0.335898,0.437115
min,1.000000,2.0,6.000000,0.000000,1.000000e+07,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,2.0,6.000000,0.000000,5.000000e+07,2.000000,2.000000,0.000000,0.500000,0.116667,0.000000,2.333333,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,2.0,6.000000,0.000000,5.000000e+07,4.000000,4.000000,0.011111,0.733333,0.316667,26.000002,2.900000,0.000000,0.000000,0.000000,0.066667,0.300000
75%,2.000000,2.0,9.000000,5.000000,5.000000e+07,5.000000,5.000000,0.155556,0.966667,0.683333,26.500000,3.000000,0.200000,0.083333,0.233333,0.300000,0.966667
max,2.000000,2.0,9.000000,5.000000,5.000000e+07,15.000000,9.000000,1.000000,1.000000,1.000000,33.272728,3.000000,2.000000,2.000000,2.000000,1.000000,1.000000

df = df[(df['gpt_model'] == 'chatgpt-4o') & (df['target_character'] == 2) & (df['pe'] == 'got') & (df['seed'].isin([2, 3, 6, 11, 13]))]

In [504]:
df.columns

Index(['run_id', 'final_state', 'target_character', 'pe', 'gpt_model',
       'branch_factor', 'exp_name', 'evaluator', 'total_iterations',
       'n_self_alignment', 'feedback_type', 'feedback_input_type',
       'total_timesteps', 'reward_feature', 'fewshot', 'problem', 'seed',
       'Evaluation/llm_iteration', 'Evaluation/acc_imp_perc',
       'Evaluation/exist_imp_perc', 'Evaluation/reach_imp_perc',
       'Evaluation/path_length', 'Evaluation/fn_imp_perc',
       'Evaluation/fp_imp_perc', 'Evaluation/tn_imp_perc',
       'Evaluation/tp_imp_perc', 'Evaluation/solvability',
       'Evaluation/playability'],
      dtype='object')

In [505]:
df = df[df['fewshot'] == False]
df = df[df['evaluator'] == 'hr']
df = df[df['feedback_type'] == 'default']
df = df[df['exp_name'] != 'vision']
df = df[df['Evaluation/llm_iteration'] <= 6]
df

,run_id,final_state,target_character,pe,gpt_model,branch_factor,exp_name,evaluator,total_iterations,n_self_alignment,...,Evaluation/acc_imp_perc,Evaluation/exist_imp_perc,Evaluation/reach_imp_perc,Evaluation/path_length,Evaluation/fn_imp_perc,Evaluation/fp_imp_perc,Evaluation/tn_imp_perc,Evaluation/tp_imp_perc,Evaluation/solvability,Evaluation/playability
0,re2wd1xx,finished,1,cot,gpt-4o,2,def,hr,6,0,...,0.011111,0.533333,0.533333,26.000002,2.566667,0.400000,0.000000,0.033333,0.200000,1.000000
1,re2wd1xx,finished,1,cot,gpt-4o,2,def,hr,6,0,...,0.000000,0.000000,0.000000,26.000000,2.666667,0.333333,0.000000,0.000000,0.166667,0.966667
2,re2wd1xx,finished,1,cot,gpt-4o,2,def,hr,6,0,...,0.033333,0.633333,0.600000,26.214287,2.566667,0.333333,0.000000,0.100000,0.166667,0.933333
3,re2wd1xx,finished,1,cot,gpt-4o,2,def,hr,6,0,...,0.000000,0.600000,0.133333,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,re2wd1xx,finished,1,cot,gpt-4o,2,def,hr,6,0,...,0.000000,0.166667,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1382,jqt6rz7m,finished,2,tot,chatgpt-4o,2,def,hr,6,0,...,0.000000,0.500000,0.083333,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1383,jqt6rz7m,finished,2,tot,chatgpt-4o,2,def,hr,6,0,...,0.000000,0.566667,0.200000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1384,jqt6rz7m,finished,2,tot,chatgpt-4o,2,def,hr,6,0,...,0.000000,0.516667,0.133333,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1385,jqt6rz7m,finished,2,tot,chatgpt-4o,2,def,hr,6,0,...,0.044444,0.516667,0.150000,27.000000,2.866667,0.000000,0.066667,0.066667,0.066667,0.066667
1386,jqt6rz7m,finished,2,tot,chatgpt-4o,2,def,hr,6,0,...,0.000000,0.183333,0.083333,29.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.200000

In [506]:
df.groupby(['gpt_model', 'pe', 'target_character']).agg({'Evaluation/acc_imp_perc': ['count']})

                                Evaluation/acc_imp_perc
                                                  count
gpt_model  pe  target_character
chatgpt-4o cot 1                                     66
               2                                     78
           got 1                                     66
               2                                     63
           tot 1                                     60
               2                                     72
gpt-4o     cot 1                                     60
               2                                     60
           got 1                                     96
               2                                     84
           tot 1                                     96
               2                                     72

In [508]:
base_df = df[(df['n_self_alignment'] == 0) & (df['Evaluation/llm_iteration'] == 1)]
base_df = base_df.groupby(['gpt_model', 'pe', 'target_character']).agg({'Evaluation/acc_imp_perc': ['mean']})
base_df.columns = ['Base']
base_df = base_df.reset_index()
base_df

     gpt_model   pe  target_character      Base
0   chatgpt-4o  cot                 1  0.002222
1   chatgpt-4o  cot                 2  0.158730
2   chatgpt-4o  got                 1  0.328889
3   chatgpt-4o  got                 2  0.269444
4   chatgpt-4o  tot                 1  0.044444
5   chatgpt-4o  tot                 2  0.263492
6       gpt-4o  cot                 1  0.064444
7       gpt-4o  cot                 2  0.002222
8       gpt-4o  got                 1  0.012500
9       gpt-4o  got                 2  0.059259
10      gpt-4o  tot                 1  0.040278
11      gpt-4o  tot                 2  0.014286

In [509]:
sa_df = df[(df['n_self_alignment'] == 5) & (df['Evaluation/llm_iteration'] == 1)]
sa_df = sa_df.groupby(['gpt_model', 'target_character', 'pe']).agg({'Evaluation/acc_imp_perc': ['mean']})
sa_df.columns = ['+ Self-Alignment']
sa_df = sa_df.reset_index()
sa_df

     gpt_model  target_character   pe  + Self-Alignment
0   chatgpt-4o                 1  cot          0.103704
1   chatgpt-4o                 1  got          0.116667
2   chatgpt-4o                 1  tot          0.185185
3   chatgpt-4o                 2  cot          0.177778
4   chatgpt-4o                 2  got          0.209259
5   chatgpt-4o                 2  tot          0.311111
6       gpt-4o                 1  cot          0.013333
7       gpt-4o                 1  got          0.080556
8       gpt-4o                 1  tot          0.094444
9       gpt-4o                 2  cot          0.006667
10      gpt-4o                 2  got          0.054167
11      gpt-4o                 2  tot          0.000000

sa_df_cp = sa_df.copy()
sa_df_cp['gpt_model'] = 'chatgpt-4o'
sa_df_cp['+ Self-Alignment'] = 0
sa_df = pd.concat([sa_df, sa_df_cp])
sa_df

In [510]:
fb_df = df[(df['n_self_alignment'] == 0) & (df['Evaluation/llm_iteration'] == 6)]
fb_df = fb_df.groupby(['gpt_model', 'target_character', 'pe']).agg({'Evaluation/acc_imp_perc': ['mean']})
fb_df.columns = ['+ Feedback']
fb_df = fb_df.reset_index()
fb_df

     gpt_model  target_character   pe  + Feedback
0   chatgpt-4o                 1  cot    0.062222
1   chatgpt-4o                 1  got    0.075556
2   chatgpt-4o                 1  tot    0.050000
3   chatgpt-4o                 2  cot    0.201587
4   chatgpt-4o                 2  got    0.182222
5   chatgpt-4o                 2  tot    0.230159
6       gpt-4o                 1  cot    0.011111
7       gpt-4o                 1  got    0.016667
8       gpt-4o                 1  tot    0.333333
9       gpt-4o                 2  cot    0.300000
10      gpt-4o                 2  got    0.155556
11      gpt-4o                 2  tot    0.323810

In [511]:
safb_df = df[(df['n_self_alignment'] == 5) & (df['Evaluation/llm_iteration'] == 6)]
safb_df = safb_df.groupby(['gpt_model', 'target_character', 'pe']).agg({'Evaluation/acc_imp_perc': ['mean']})
safb_df.columns = ['+ Feedback & Self-Alignment']
safb_df = safb_df.reset_index()
safb_df

     gpt_model  target_character   pe  + Feedback & Self-Alignment
0   chatgpt-4o                 1  cot                     0.059259
1   chatgpt-4o                 1  got                     0.096296
2   chatgpt-4o                 1  tot                     0.153704
3   chatgpt-4o                 2  cot                     0.322222
4   chatgpt-4o                 2  got                     0.348148
5   chatgpt-4o                 2  tot                     0.420000
6       gpt-4o                 1  cot                     0.093333
7       gpt-4o                 1  got                     0.054167
8       gpt-4o                 1  tot                     0.120833
9       gpt-4o                 2  cot                     0.140000
10      gpt-4o                 2  got                     0.168056
11      gpt-4o                 2  tot                     0.073333

safb_df_cp = safb_df.copy()
safb_df_cp['gpt_model'] = 'chatgpt-4o'
safb_df_cp['+ Feedback & Self-Alignment'] = 0
safb_df = pd.concat([safb_df, safb_df_cp])
safb_df

In [512]:
pk = ['gpt_model', 'target_character', 'pe']

merged = pd.merge(base_df, sa_df, on=pk).merge(fb_df, on=pk).merge(safb_df, on=pk)
merged

,gpt_model,pe,target_character,Base,+ Self-Alignment,+ Feedback,+ Feedback & Self-Alignment
0,chatgpt-4o,cot,1,0.002222,0.103704,0.062222,0.059259
1,chatgpt-4o,cot,2,0.158730,0.177778,0.201587,0.322222
2,chatgpt-4o,got,1,0.328889,0.116667,0.075556,0.096296
3,chatgpt-4o,got,2,0.269444,0.209259,0.182222,0.348148
4,chatgpt-4o,tot,1,0.044444,0.185185,0.050000,0.153704
5,chatgpt-4o,tot,2,0.263492,0.311111,0.230159,0.420000
6,gpt-4o,cot,1,0.064444,0.013333,0.011111,0.093333
7,gpt-4o,cot,2,0.002222,0.006667,0.300000,0.140000
8,gpt-4o,got,1,0.012500,0.080556,0.016667,0.054167
9,gpt-4o,got,2,0.059259,0.054167,0.155556,0.168056
10,gpt-4o,tot,1,0.040278,0.094444,0.333333,0.120833
11,gpt-4o,tot,2,0.014286,0.000000,0.323810,0.073333

In [513]:
mean = merged.groupby('gpt_model').agg({'Base': ['mean'], '+ Self-Alignment': ['mean'], '+ Feedback': ['mean'], '+ Feedback & Self-Alignment': ['mean']})
mean.columns = ['Base', '+ Self-Alignment', '+ Feedback', '+ Feedback & Self-Alignment']
mean.insert(0, 'pe', 'mean')
mean.insert(0, 'target_character', 'mean')
mean = mean.reset_index()
mean

,gpt_model,target_character,pe,Base,+ Self-Alignment,+ Feedback,+ Feedback & Self-Alignment
0,chatgpt-4o,mean,mean,0.177870,0.183951,0.133624,0.233272
1,gpt-4o,mean,mean,0.032165,0.041528,0.190079,0.108287

In [514]:
result = pd.concat([mean, merged])
result

,gpt_model,target_character,pe,Base,+ Self-Alignment,+ Feedback,+ Feedback & Self-Alignment
0,chatgpt-4o,mean,mean,0.177870,0.183951,0.133624,0.233272
1,gpt-4o,mean,mean,0.032165,0.041528,0.190079,0.108287
0,chatgpt-4o,1,cot,0.002222,0.103704,0.062222,0.059259
1,chatgpt-4o,2,cot,0.158730,0.177778,0.201587,0.322222
2,chatgpt-4o,1,got,0.328889,0.116667,0.075556,0.096296
3,chatgpt-4o,2,got,0.269444,0.209259,0.182222,0.348148
4,chatgpt-4o,1,tot,0.044444,0.185185,0.050000,0.153704
5,chatgpt-4o,2,tot,0.263492,0.311111,0.230159,0.420000
6,gpt-4o,1,cot,0.064444,0.013333,0.011111,0.093333
7,gpt-4o,2,cot,0.002222,0.006667,0.300000,0.140000
8,gpt-4o,1,got,0.012500,0.080556,0.016667,0.054167
9,gpt-4o,2,got,0.059259,0.054167,0.155556,0.168056
10,gpt-4o,1,tot,0.040278,0.094444,0.333333,0.120833
11,gpt-4o,2,tot,0.014286,0.000000,0.323810,0.073333

In [515]:
result.to_csv('self-alignment-and-feedback.csv', index=False)

In [516]:

target_character_order = [1, 2, "mean"]  # 예: 특정 시나리오 번호와 "mean"
pe_order = ["cot", "tot", "got", "mean"]  # 예: Prompt Engineering 방식

result['target_character'] = pd.Categorical(result['target_character'], categories=target_character_order, ordered=True)
result['pe'] = pd.Categorical(result['pe'], categories=pe_order, ordered=True)


pivot_df = result.pivot_table(index=['target_character', 'pe'], columns='gpt_model', values=['Base', '+ Self-Alignment', '+ Feedback', '+ Feedback & Self-Alignment'])
pivot_df

/var/folders/x_/2lt9k5kn52q43m1_z0kp7tfm0000gn/T/ipykernel_12479/2994687191.py:8: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot_df = result.pivot_table(index=['target_character', 'pe'], columns='gpt_model', values=['Base', '+ Self-Alignment', '+ Feedback', '+ Feedback & Self-Alignment'])

                      + Feedback           + Feedback & Self-Alignment  \
gpt_model             chatgpt-4o    gpt-4o                  chatgpt-4o
target_character pe
1                cot    0.062222  0.011111                    0.059259
                 tot    0.050000  0.333333                    0.153704
                 got    0.075556  0.016667                    0.096296
2                cot    0.201587  0.300000                    0.322222
                 tot    0.230159  0.323810                    0.420000
                 got    0.182222  0.155556                    0.348148
mean             mean   0.133624  0.190079                    0.233272

                                + Self-Alignment                 Base  \
gpt_model                gpt-4o       chatgpt-4o    gpt-4o chatgpt-4o
target_character pe
1                cot   0.093333         0.103704  0.013333   0.002222
                 tot   0.120833         0.185185  0.094444   0.044444
                 got   0.054167         0.116667  0.080556   0.328889
2                cot   0.140000         0.177778  0.006667   0.158730
                 tot   0.073333         0.311111  0.000000   0.263492
                 got   0.168056         0.209259  0.054167   0.269444
mean             mean  0.108287         0.183951  0.041528   0.177870


gpt_model                gpt-4o
target_character pe
1                cot   0.064444
                 tot   0.040278
                 got   0.012500
2                cot   0.002222
                 tot   0.014286
                 got   0.059259
mean             mean  0.032165

In [517]:
pivot_df.columns = pivot_df.columns.swaplevel(0, 1)
pivot_df.columns

MultiIndex([('chatgpt-4o',                  '+ Feedback'),
            (    'gpt-4o',                  '+ Feedback'),
            ('chatgpt-4o', '+ Feedback & Self-Alignment'),
            (    'gpt-4o', '+ Feedback & Self-Alignment'),
            ('chatgpt-4o',            '+ Self-Alignment'),
            (    'gpt-4o',            '+ Self-Alignment'),
            ('chatgpt-4o',                        'Base'),
            (    'gpt-4o',                        'Base')],
           names=['gpt_model', None])

In [518]:
# 정렬 (주어진 Categorical 순서가 반영됨)
pivot_df = pivot_df.sort_index(level=['target_character', 'pe'], sort_remaining=False)

column_order = [
            (    'gpt-4o',                        'Base'),
            (    'gpt-4o',            '+ Self-Alignment'),
            (    'gpt-4o',                  '+ Feedback'),
            (    'gpt-4o', '+ Feedback & Self-Alignment'),
            (    'chatgpt-4o',                    'Base'),
            (    'chatgpt-4o',            '+ Self-Alignment'),
            (    'chatgpt-4o',                  '+ Feedback'),
            (    'chatgpt-4o', '+ Feedback & Self-Alignment')
]

# 결과 확인
pivot_df = pivot_df[column_order]
pivot_df

gpt_model                gpt-4o                              \
                           Base + Self-Alignment + Feedback
target_character pe
1                cot   0.064444         0.013333   0.011111
                 tot   0.040278         0.094444   0.333333
                 got   0.012500         0.080556   0.016667
2                cot   0.002222         0.006667   0.300000
                 tot   0.014286         0.000000   0.323810
                 got   0.059259         0.054167   0.155556
mean             mean  0.032165         0.041528   0.190079

gpt_model                                         chatgpt-4o                   \
                      + Feedback & Self-Alignment       Base + Self-Alignment
target_character pe
1                cot                     0.093333   0.002222         0.103704
                 tot                     0.120833   0.044444         0.185185
                 got                     0.054167   0.328889         0.116667
2                cot                     0.140000   0.158730         0.177778
                 tot                     0.073333   0.263492         0.311111
                 got                     0.168056   0.269444         0.209259
mean             mean                    0.108287   0.177870         0.183951

gpt_model
                      + Feedback + Feedback & Self-Alignment
target_character pe
1                cot    0.062222                    0.059259
                 tot    0.050000                    0.153704
                 got    0.075556                    0.096296
2                cot    0.201587                    0.322222
                 tot    0.230159                    0.420000
                 got    0.182222                    0.348148
mean             mean   0.133624                    0.233272

In [519]:
def insert_str(src_str, idx, insert_str):
    # LaTeX 문자열을 줄 단위로 나눔
    lines = src_str.splitlines()
    
    # 지정된 줄 번호 뒤에 \midrule 삽입
    lines.insert(idx, insert_str)
    
    # 다시 LaTeX 문자열로 결합
    return "\n".join(lines)

In [520]:
from IPython.display import display, Latex

# Generate the LaTeX string from the dataframe
tex_str = pivot_df.to_latex(
    buf=None, 
    escape=True, 
    bold_rows=False, 
    position='!t', 
    float_format="%.3f", 
    multicolumn_format='c',
    caption='Ablation study results for framework architecture, comparing accuracy across prompt engineering methods and scenarios.', 
    label='tab:result_pe'
)

# Perform replacements to modify the LaTeX string
replacements = {
    'target_character': 'Scenario',
    '& pe &': '& PE &',
    'gpt_model': 'LLM ($\\mathcal{M}$)',
    'table': 'table*',
    'Self-Alignment': 'SA',
    'Feedback': 'FB',
    '\\cline{1-10}\n': '',
    'cot': 'CoT',
    'tot': 'ToT',
    'got': 'GoT',
    'mean & mean': '\\multicolumn{2}{c|}{\\textbf{Mean}}',
    '\\multicolumn{4}{c}{gpt-4o}': '\\multicolumn{4}{c}{\\texttt{gpt-4o-2024-08-06}}',
    'chatgpt-4o': '\\texttt{chatgpt-4o-latest} (Dec 2024)',
    '\\begin{tabular}{llrrrrrrrr}': '\\begin{tabular}{ll|rrrr|rrrr}',
    '{c}{\\texttt{gpt-4o-2024-08-06}': '{c|}{\\texttt{gpt-4o-2024-08-06}'
}

for old, new in replacements.items():
    tex_str = tex_str.replace(old, new)

# Update the header to bold specific columns
original_header = ' &  & Base & + SA & + FB & + FB \\\\& SA & Base & + SA & + FB & + FB \\\\& SA \\\\'
modified_header = original_header.replace('Base', '\\textbf{Base}')
modified_header = modified_header.replace('+ SA', '\\textbf{+SA}')
modified_header = modified_header.replace('+ FB \\\\& SA', '\\textbf{+FB, SA}')
modified_header = modified_header.replace('+ FB', '\\textbf{+FB}')
tex_str = tex_str.replace(original_header, modified_header)

# Update the tabular header to adjust column widths
tabular_header = "\\begin{tabular}{p{1.5cm}p{1.5cm}|p{1.3cm}p{1.3cm}p{1.3cm}p{1.3cm}|p{1.3cm}p{1.3cm}p{1.3cm}p{1.3cm}}"
tex_str = tex_str.replace("\\begin{tabular}{ll|rrrr|rrrr}", tabular_header)

offset = 0
tex_str = insert_str(tex_str, 12 + offset, "\\midrule")
offset += 1
tex_str = insert_str(tex_str, 15 + offset, "\\midrule")

# Save the modified LaTeX string to a file
with open('ablation_study_detail.tex', 'w') as f:
    f.write(tex_str)

# Display the final LaTeX string
display(Latex(tex_str))