In [77]:
from dotenv import load_dotenv
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import os

In [78]:
load_dotenv(override=True)
csv_path = os.getenv('CSV_PATH')
csv_path

'wandb_output_2024-12-25-14-14-59.csv'

In [79]:
df = pd.read_csv(csv_path)
df.describe()

,target_character,branch_factor,total_iterations,n_self_alignment,total_timesteps,seed,Evaluation/llm_iteration,Evaluation/acc_imp_perc,Evaluation/exist_imp_perc,Evaluation/reach_imp_perc,Evaluation/path_length,Evaluation/fn_imp_perc,Evaluation/fp_imp_perc,Evaluation/tn_imp_perc,Evaluation/tp_imp_perc,Evaluation/solvability,Evaluation/playability
count,1150.000000,1150.0,1150.000000,1150.000000,1.150000e+03,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000
mean,1.481739,2.0,7.153043,1.047826,4.895652e+07,3.513913,3.861739,0.136309,0.649101,0.411348,19.330417,2.404957,0.186116,0.149043,0.259884,0.229101,0.503188
std,0.499884,0.0,1.459957,2.035877,6.378531e+06,1.748623,2.051346,0.243482,0.300190,0.341956,11.857983,0.927094,0.384427,0.341443,0.512099,0.336054,0.440814
min,1.000000,2.0,6.000000,0.000000,1.000000e+07,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,2.0,6.000000,0.000000,5.000000e+07,2.000000,2.000000,0.000000,0.466667,0.116667,0.000000,2.333333,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,2.0,6.000000,0.000000,5.000000e+07,4.000000,4.000000,0.011111,0.700000,0.316667,26.000002,2.866667,0.000000,0.000000,0.000000,0.066667,0.466667
75%,2.000000,2.0,9.000000,0.000000,5.000000e+07,5.000000,5.000000,0.133333,0.933333,0.666667,26.400000,3.000000,0.200000,0.100000,0.200000,0.266667,1.000000
max,2.000000,2.0,9.000000,5.000000,5.000000e+07,8.000000,9.000000,1.000000,1.000000,1.000000,33.000000,3.000000,2.000000,2.000000,2.000000,1.000000,1.000000

In [80]:
df.columns

Index(['run_id', 'final_state', 'target_character', 'pe', 'gpt_model',
       'branch_factor', 'exp_name', 'evaluator', 'total_iterations',
       'n_self_alignment', 'feedback_type', 'total_timesteps',
       'reward_feature', 'fewshot', 'problem', 'seed',
       'Evaluation/llm_iteration', 'Evaluation/acc_imp_perc',
       'Evaluation/exist_imp_perc', 'Evaluation/reach_imp_perc',
       'Evaluation/path_length', 'Evaluation/fn_imp_perc',
       'Evaluation/fp_imp_perc', 'Evaluation/tn_imp_perc',
       'Evaluation/tp_imp_perc', 'Evaluation/solvability',
       'Evaluation/playability'],
      dtype='object')

In [81]:
df = df[df['fewshot'] == False]
df = df[df['feedback_type'] == 'default']
df = df[df['n_self_alignment'] == 0]
df = df[df['evaluator'] == 'hr']
df = df[df['gpt_model'] == 'gpt-4o']
df = df[df['pe'].isin(['cot'])]
df

,run_id,final_state,target_character,pe,gpt_model,branch_factor,exp_name,evaluator,total_iterations,n_self_alignment,...,Evaluation/acc_imp_perc,Evaluation/exist_imp_perc,Evaluation/reach_imp_perc,Evaluation/path_length,Evaluation/fn_imp_perc,Evaluation/fp_imp_perc,Evaluation/tn_imp_perc,Evaluation/tp_imp_perc,Evaluation/solvability,Evaluation/playability
0,re2wd1xx,pe-cot_it-6_fit-hr_exp-def_t-sce_chr-1_1_s-1,1,cot,gpt-4o,2,def,hr,6,0,...,0.011111,0.533333,0.533333,26.000002,2.566667,0.400000,0.0,0.033333,0.200000,1.000000
1,re2wd1xx,pe-cot_it-6_fit-hr_exp-def_t-sce_chr-1_1_s-1,1,cot,gpt-4o,2,def,hr,6,0,...,0.000000,0.000000,0.000000,26.000000,2.666667,0.333333,0.0,0.000000,0.166667,0.966667
2,re2wd1xx,pe-cot_it-6_fit-hr_exp-def_t-sce_chr-1_1_s-1,1,cot,gpt-4o,2,def,hr,6,0,...,0.033333,0.633333,0.600000,26.214287,2.566667,0.333333,0.0,0.100000,0.166667,0.933333
3,re2wd1xx,pe-cot_it-6_fit-hr_exp-def_t-sce_chr-1_1_s-1,1,cot,gpt-4o,2,def,hr,6,0,...,0.000000,0.600000,0.133333,0.000000,3.000000,0.000000,0.0,0.000000,0.000000,0.000000
4,re2wd1xx,pe-cot_it-6_fit-hr_exp-def_t-sce_chr-1_1_s-1,1,cot,gpt-4o,2,def,hr,6,0,...,0.000000,0.166667,0.000000,0.000000,3.000000,0.000000,0.0,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
965,01vofhsc,pe-cot_it-6_fit-hr_exp-def_t-sce_chr-2_1_s-5,2,cot,gpt-4o,2,def,hr,6,0,...,0.000000,0.483333,0.033333,0.000000,3.000000,0.000000,0.0,0.000000,0.000000,0.000000
966,01vofhsc,pe-cot_it-6_fit-hr_exp-def_t-sce_chr-2_1_s-5,2,cot,gpt-4o,2,def,hr,6,0,...,0.488889,1.000000,0.916667,27.000000,0.800000,0.733333,0.0,1.466667,0.733333,0.733333
967,01vofhsc,pe-cot_it-6_fit-hr_exp-def_t-sce_chr-2_1_s-5,2,cot,gpt-4o,2,def,hr,6,0,...,0.577778,1.000000,0.950000,26.692308,0.400000,0.866667,0.0,1.733333,0.833333,0.866667
968,01vofhsc,pe-cot_it-6_fit-hr_exp-def_t-sce_chr-2_1_s-5,2,cot,gpt-4o,2,def,hr,6,0,...,0.577778,1.000000,0.966667,27.230770,0.400000,0.866667,0.0,1.733333,0.800000,0.866667
969,01vofhsc,pe-cot_it-6_fit-hr_exp-def_t-sce_chr-2_1_s-5,2,cot,gpt-4o,2,def,hr,6,0,...,0.533333,1.000000,0.916667,27.166668,0.600000,0.800000,0.0,1.600000,0.800000,0.800000

In [82]:
df.groupby(['gpt_model', 'pe', 'exp_name']).agg({'Evaluation/acc_imp_perc': ['count']})

                       Evaluation/acc_imp_perc
                                         count
gpt_model pe  exp_name
gpt-4o    cot def                           60
              vision                        60

In [83]:
base_df = df[(df['Evaluation/llm_iteration'] == 1)]
base_df = base_df.groupby(['gpt_model', 'pe', 'exp_name']).agg({'Evaluation/acc_imp_perc': ['mean']})
base_df.columns = ['Base']
base_df = base_df.reset_index()
base_df

  gpt_model   pe exp_name      Base
0    gpt-4o  cot      def  0.033333
1    gpt-4o  cot   vision  0.142222

In [84]:
fb_df = df[(df['Evaluation/llm_iteration'] == 6)]
fb_df = fb_df.groupby(['gpt_model', 'pe', 'exp_name']).agg({'Evaluation/acc_imp_perc': ['mean']})
fb_df.columns = ['+ Feedback']
fb_df = fb_df.reset_index()
fb_df

  gpt_model   pe exp_name  + Feedback
0    gpt-4o  cot      def    0.155556
1    gpt-4o  cot   vision    0.198889

In [85]:
pk = ['gpt_model', 'pe', 'exp_name']

result = pd.merge(base_df, fb_df, on=pk)
result['Delta'] = result['+ Feedback'] - result['Base']

result

  gpt_model   pe exp_name      Base  + Feedback     Delta
0    gpt-4o  cot      def  0.033333    0.155556  0.122222
1    gpt-4o  cot   vision  0.142222    0.198889  0.056667

In [86]:

pe_order = ["cot"]  # 예: Prompt Engineering 방식

result['pe'] = pd.Categorical(result['pe'], categories=pe_order, ordered=True)


pivot_df = result.pivot_table(index=['pe'], columns='exp_name', values=['Base', '+ Feedback', 'Delta'])
pivot_df

/var/folders/x_/2lt9k5kn52q43m1_z0kp7tfm0000gn/T/ipykernel_78596/472322549.py:6: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot_df = result.pivot_table(index=['pe'], columns='exp_name', values=['Base', '+ Feedback', 'Delta'])

         + Feedback                Base               Delta
exp_name        def    vision       def    vision       def    vision
pe
cot        0.155556  0.198889  0.033333  0.142222  0.122222  0.056667

In [87]:
pivot_df.columns = pivot_df.columns.swaplevel(0, 1)
pivot_df.columns

MultiIndex([(   'def', '+ Feedback'),
            ('vision', '+ Feedback'),
            (   'def',       'Base'),
            ('vision',       'Base'),
            (   'def',      'Delta'),
            ('vision',      'Delta')],
           names=['exp_name', None])

In [88]:
# 정렬 (주어진 Categorical 순서가 반영됨)
pivot_df = pivot_df.sort_index(level=['pe'], sort_remaining=False)

column_order = [
            (    'def',                        'Base'),
            (    'def',            '+ Feedback'),
            (    'def',            'Delta'),
            (    'vision',                  'Base'),
            (    'vision', '+ Feedback'),
            (    'vision', 'Delta'),
]

# 결과 확인
pivot_df = pivot_df[column_order]
pivot_df

exp_name       def                         vision
              Base + Feedback     Delta      Base + Feedback     Delta
pe
cot       0.033333   0.155556  0.122222  0.142222   0.198889  0.056667

In [89]:
# change ('hr', 'Delta') column values to string with lambda
# pivot_df[('hr', 'Delta')] = pivot_df[('hr', 'Delta')].apply(lambda x: f'{x:.3f}')
pivot_df[('def', 'Delta')] = pivot_df[('def', 'Delta')].apply(
    lambda x: f'+{x:.3f}' if x > 0 else f'{x:.3f}'
)
pivot_df[('vision', 'Delta')] = pivot_df[('vision', 'Delta')].apply(
    lambda x: f'+{x:.3f}' if x > 0 else f'{x:.3f}'
)
pivot_df

exp_name       def                       vision
              Base + Feedback   Delta      Base + Feedback   Delta
pe
cot       0.033333   0.155556  +0.122  0.142222   0.198889  +0.057

In [90]:
def insert_str(src_str, idx, insert_str):
    # LaTeX 문자열을 줄 단위로 나눔
    lines = src_str.splitlines()
    
    # 지정된 줄 번호 뒤에 \midrule 삽입
    lines.insert(idx, insert_str)
    
    # 다시 LaTeX 문자열로 결합
    return "\n".join(lines)

In [95]:
from IPython.display import display, Latex


tex_str = pivot_df.to_latex(buf=None, escape=True, bold_rows=False, position='!h', float_format="%.3f", multicolumn_format='c',
                            caption='Ablation study results for framework architecture, comparing accuracy across prompt engineering methods and scenarios.', label='tab:feedback_input')

tex_str = tex_str.replace('target_character', 'Scenario')
tex_str = tex_str.replace('pe &', 'PE &')
tex_str = tex_str.replace('exp_name &', '\\textbf{Feedback Input} &')
tex_str = tex_str.replace('gpt_model', '')
# tex_str = tex_str.replace('table', 'table*')
# tex_str = tex_str.replace('Self-Alignment', 'SA')
# tex_str = tex_str.replace('Self-Alignment', 'SA')
# tex_str = tex_str.replace('Feedback', 'FB')
tex_str = tex_str.replace('\cline{1-10}\n', '')
tex_str = tex_str.replace('+ Feedback', '+FB')
tex_str = tex_str.replace('cot', 'CoT').replace('tot', 'ToT').replace('got', 'GoT')
tex_str = tex_str.replace('mean & mean', '\\multicolumn{2}{c|}{\\textbf{Mean}}')
tex_str = tex_str.replace('\multicolumn{3}{c}{def}', '\multicolumn{3}{c|}{\\textbf{Text}}')
tex_str = tex_str.replace('\multicolumn{3}{c}{vision}', '\multicolumn{3}{c}{\\textbf{Image}}')
tex_str = tex_str.replace('Delta', '$\\Delta{}$')
tex_str = tex_str.replace('mean &', '\\textbf{Mean} &')

original_header = ' &  & Base & + SA & + FB & + FB \\& SA & Base & + SA & + FB & + FB \\& SA \\\\'
modified_header = original_header.replace(
    'Base', '\\textbf{Base}'
).replace(
    '+ SA', '\\textbf{+SA}'
).replace(
    '+ FB \\& SA', '\\textbf{+FB, SA}'
).replace(
    '+ FB', '\\textbf{+FB}'
)

# 기존 문자열에서 헤더 교체
tex_str = tex_str.replace(original_header, modified_header)

tex_str = tex_str.replace('\\begin{tabular}{llrrrrrrrr}', '\\begin{tabular}{ll|rrrr|rrrr}')

tex_str = tex_str.replace('chatgpt-4o', '\\texttt{chatgpt-4o-latest} (Dec 2024)')


tabular_header = "\\begin{tabular}{p{1.5cm}|p{0.73cm}p{0.73cm}p{0.73cm}|p{0.73cm}p{0.73cm}p{0.73cm}}"
# 기존 header를 새 header로 교체
tex_str = tex_str.replace("\\begin{tabular}{lrrlrrl}", tabular_header)

with open('feedback_input.tex', 'w') as f:
    f.write(tex_str)
display(Latex(tex_str))