In [692]:
from dotenv import load_dotenv
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import os

In [693]:
load_dotenv(override=True)
csv_path = os.getenv('CSV_PATH')
csv_path

'wandb_output_2025-01-01-22-29-33.csv'

In [694]:
df = pd.read_csv(csv_path)
df.describe()

,target_character,branch_factor,total_iterations,n_self_alignment,total_timesteps,seed,Evaluation/llm_iteration,Evaluation/acc_imp_perc,Evaluation/exist_imp_perc,Evaluation/reach_imp_perc,Evaluation/path_length,Evaluation/fn_imp_perc,Evaluation/fp_imp_perc,Evaluation/tn_imp_perc,Evaluation/tp_imp_perc,Evaluation/solvability,Evaluation/playability
count,1357.000000,1357.0,1357.000000,1357.000000,1.357000e+03,1357.000000,1357.000000,1357.000000,1357.000000,1357.000000,1357.000000,1357.000000,1357.000000,1357.000000,1357.000000,1357.000000,1357.000000
mean,1.476787,2.0,6.977155,1.661754,4.911570e+07,3.800295,3.809875,0.130869,0.677684,0.417514,19.077641,2.401597,0.205797,0.139032,0.253574,0.229452,0.471948
std,0.499645,0.0,1.406446,2.356148,5.883508e+06,2.243785,2.006433,0.227731,0.294166,0.340612,12.047559,0.925618,0.423203,0.324836,0.486726,0.336024,0.437898
min,1.000000,2.0,6.000000,0.000000,1.000000e+07,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,2.0,6.000000,0.000000,5.000000e+07,2.000000,2.000000,0.000000,0.500000,0.116667,0.000000,2.333333,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,2.0,6.000000,0.000000,5.000000e+07,4.000000,4.000000,0.011111,0.733333,0.333333,26.000002,2.900000,0.000000,0.000000,0.000000,0.066667,0.366667
75%,2.000000,2.0,9.000000,5.000000,5.000000e+07,5.000000,5.000000,0.144444,0.966667,0.683333,26.461540,3.000000,0.200000,0.066667,0.233333,0.300000,0.966667
max,2.000000,2.0,9.000000,5.000000,5.000000e+07,14.000000,9.000000,1.000000,1.000000,1.000000,33.272728,3.000000,2.000000,2.000000,2.000000,1.000000,1.000000

In [695]:
df.columns

Index(['run_id', 'final_state', 'target_character', 'pe', 'gpt_model',
       'branch_factor', 'exp_name', 'evaluator', 'total_iterations',
       'n_self_alignment', 'feedback_type', 'feedback_input_type',
       'total_timesteps', 'reward_feature', 'fewshot', 'problem', 'seed',
       'Evaluation/llm_iteration', 'Evaluation/acc_imp_perc',
       'Evaluation/exist_imp_perc', 'Evaluation/reach_imp_perc',
       'Evaluation/path_length', 'Evaluation/fn_imp_perc',
       'Evaluation/fp_imp_perc', 'Evaluation/tn_imp_perc',
       'Evaluation/tp_imp_perc', 'Evaluation/solvability',
       'Evaluation/playability'],
      dtype='object')

In [696]:
df = df[df['fewshot'] == False]
df = df[df['feedback_type'] == 'default']
df = df[df['n_self_alignment'] == 0]
df = df[df['evaluator'] == 'hr']
df = df[df['gpt_model'] == 'gpt-4o']
df = df[df['pe'].isin(['cot'])]
df

,run_id,final_state,target_character,pe,gpt_model,branch_factor,exp_name,evaluator,total_iterations,n_self_alignment,...,Evaluation/acc_imp_perc,Evaluation/exist_imp_perc,Evaluation/reach_imp_perc,Evaluation/path_length,Evaluation/fn_imp_perc,Evaluation/fp_imp_perc,Evaluation/tn_imp_perc,Evaluation/tp_imp_perc,Evaluation/solvability,Evaluation/playability
0,re2wd1xx,finished,1,cot,gpt-4o,2,def,hr,6,0,...,0.011111,0.533333,0.533333,26.000002,2.566667,0.400000,0.000000,0.033333,0.200000,1.000000
1,re2wd1xx,finished,1,cot,gpt-4o,2,def,hr,6,0,...,0.000000,0.000000,0.000000,26.000000,2.666667,0.333333,0.000000,0.000000,0.166667,0.966667
2,re2wd1xx,finished,1,cot,gpt-4o,2,def,hr,6,0,...,0.033333,0.633333,0.600000,26.214287,2.566667,0.333333,0.000000,0.100000,0.166667,0.933333
3,re2wd1xx,finished,1,cot,gpt-4o,2,def,hr,6,0,...,0.000000,0.600000,0.133333,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,re2wd1xx,finished,1,cot,gpt-4o,2,def,hr,6,0,...,0.000000,0.166667,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1352,qw9aige1,finished,2,cot,gpt-4o,2,vision,hr,6,0,...,0.011111,0.250000,0.016667,27.000000,2.966667,0.000000,0.033333,0.000000,0.033333,0.066667
1353,qw9aige1,finished,2,cot,gpt-4o,2,vision,hr,6,0,...,0.155556,0.950000,0.950000,26.000002,2.533334,0.000000,0.200000,0.266667,0.200000,1.000000
1354,qw9aige1,finished,2,cot,gpt-4o,2,vision,hr,6,0,...,0.144444,0.833333,0.833333,26.000002,2.533334,0.033333,0.166667,0.266667,0.200000,1.000000
1355,qw9aige1,finished,2,cot,gpt-4o,2,vision,hr,6,0,...,0.788889,0.916667,0.916667,26.000002,0.500000,0.133333,0.766667,1.600000,0.900000,1.000000
1356,qw9aige1,finished,2,cot,gpt-4o,2,vision,hr,6,0,...,0.711111,0.950000,0.933333,26.000002,0.800000,0.066667,0.766667,1.366667,0.833333,1.000000

In [697]:
df.groupby(['gpt_model', 'pe', 'exp_name']).agg({'Evaluation/acc_imp_perc': ['count']})

                       Evaluation/acc_imp_perc
                                         count
gpt_model pe  exp_name
gpt-4o    cot def                           60
              vision                        60

In [698]:
base_df = df[(df['Evaluation/llm_iteration'] == 1)]
base_df = base_df.groupby(['gpt_model', 'pe', 'exp_name', 'target_character']).agg({'Evaluation/acc_imp_perc': ['mean']})
base_df.columns = ['Base']
base_df = base_df.reset_index()
base_df

  gpt_model   pe exp_name  target_character      Base
0    gpt-4o  cot      def                 1  0.064444
1    gpt-4o  cot      def                 2  0.002222
2    gpt-4o  cot   vision                 1  0.015556
3    gpt-4o  cot   vision                 2  0.046667

In [699]:
fb_df = df[(df['Evaluation/llm_iteration'] == 6)]
fb_df = fb_df.groupby(['gpt_model', 'pe', 'exp_name']).agg({'Evaluation/acc_imp_perc': ['mean']})
fb_df.columns = ['+ Feedback']
fb_df = fb_df.reset_index()
fb_df

  gpt_model   pe exp_name  + Feedback
0    gpt-4o  cot      def    0.155556
1    gpt-4o  cot   vision    0.156667

In [700]:
pk = ['gpt_model', 'pe', 'exp_name']

result = pd.merge(base_df, fb_df, on=pk)
result['Delta'] = result['+ Feedback'] - result['Base']

result

  gpt_model   pe exp_name  target_character      Base  + Feedback     Delta
0    gpt-4o  cot      def                 1  0.064444    0.155556  0.091111
1    gpt-4o  cot      def                 2  0.002222    0.155556  0.153333
2    gpt-4o  cot   vision                 1  0.015556    0.156667  0.141111
3    gpt-4o  cot   vision                 2  0.046667    0.156667  0.110000

In [701]:

pe_order = ["cot"]  # 예: Prompt Engineering 방식

result['pe'] = pd.Categorical(result['pe'], categories=pe_order, ordered=True)


pivot_df = result.pivot_table(index=['pe'], columns='exp_name', values=['Base', '+ Feedback', 'Delta'])
pivot_df

/var/folders/x_/2lt9k5kn52q43m1_z0kp7tfm0000gn/T/ipykernel_84094/472322549.py:6: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot_df = result.pivot_table(index=['pe'], columns='exp_name', values=['Base', '+ Feedback', 'Delta'])

         + Feedback                Base               Delta
exp_name        def    vision       def    vision       def    vision
pe
cot        0.155556  0.156667  0.033333  0.031111  0.122222  0.125556

In [702]:
pivot_df.columns = pivot_df.columns.swaplevel(0, 1)
pivot_df.columns

MultiIndex([(   'def', '+ Feedback'),
            ('vision', '+ Feedback'),
            (   'def',       'Base'),
            ('vision',       'Base'),
            (   'def',      'Delta'),
            ('vision',      'Delta')],
           names=['exp_name', None])

In [703]:
# 정렬 (주어진 Categorical 순서가 반영됨)
pivot_df = pivot_df.sort_index(level=['pe'], sort_remaining=False)

column_order = [
            (    'def',                        'Base'),
            (    'def',            '+ Feedback'),
            (    'def',            'Delta'),
            (    'vision',                  'Base'),
            (    'vision', '+ Feedback'),
            (    'vision', 'Delta'),
]

# 결과 확인
pivot_df = pivot_df[column_order]
pivot_df

exp_name       def                         vision
              Base + Feedback     Delta      Base + Feedback     Delta
pe
cot       0.033333   0.155556  0.122222  0.031111   0.156667  0.125556

In [704]:
# change ('hr', 'Delta') column values to string with lambda
# pivot_df[('hr', 'Delta')] = pivot_df[('hr', 'Delta')].apply(lambda x: f'{x:.3f}')
pivot_df[('def', 'Delta')] = pivot_df[('def', 'Delta')].apply(
    lambda x: f'+{x:.3f}' if x > 0 else f'{x:.3f}'
)
pivot_df[('vision', 'Delta')] = pivot_df[('vision', 'Delta')].apply(
    lambda x: f'+{x:.3f}' if x > 0 else f'{x:.3f}'
)
pivot_df

exp_name       def                       vision
              Base + Feedback   Delta      Base + Feedback   Delta
pe
cot       0.033333   0.155556  +0.122  0.031111   0.156667  +0.126

In [705]:
def insert_str(src_str, idx, insert_str):
    # LaTeX 문자열을 줄 단위로 나눔
    lines = src_str.splitlines()
    
    # 지정된 줄 번호 뒤에 \midrule 삽입
    lines.insert(idx, insert_str)
    
    # 다시 LaTeX 문자열로 결합
    return "\n".join(lines)

In [706]:
from IPython.display import display, Latex


tex_str = pivot_df.to_latex(buf=None, escape=True, bold_rows=False, position='!h', float_format="%.3f", multicolumn_format='c',
                            caption='Ablation study results for framework architecture, comparing accuracy across prompt engineering methods and scenarios.', label='tab:feedback_input')

tex_str = tex_str.replace('target_character', 'Scenario')
tex_str = tex_str.replace('pe &', 'PE &')
tex_str = tex_str.replace('exp_name &', '\\textbf{Feedback Input} &')
tex_str = tex_str.replace('gpt_model', '')
# tex_str = tex_str.replace('table', 'table*')
# tex_str = tex_str.replace('Self-Alignment', 'SA')
# tex_str = tex_str.replace('Self-Alignment', 'SA')
# tex_str = tex_str.replace('Feedback', 'FB')
tex_str = tex_str.replace('\cline{1-10}\n', '')
tex_str = tex_str.replace('+ Feedback', '+FB')
tex_str = tex_str.replace('cot', 'CoT').replace('tot', 'ToT').replace('got', 'GoT')
tex_str = tex_str.replace('mean & mean', '\\multicolumn{2}{c|}{\\textbf{Mean}}')
tex_str = tex_str.replace('\multicolumn{3}{c}{def}', '\multicolumn{3}{c|}{\\textbf{Text}}')
tex_str = tex_str.replace('\multicolumn{3}{c}{vision}', '\multicolumn{3}{c}{\\textbf{Image}}')
tex_str = tex_str.replace('Delta', '$\\Delta{}$')
tex_str = tex_str.replace('mean &', '\\textbf{Mean} &')

original_header = ' &  & Base & + SA & + FB & + FB \\& SA & Base & + SA & + FB & + FB \\& SA \\\\'
modified_header = original_header.replace(
    'Base', '\\textbf{Base}'
).replace(
    '+ SA', '\\textbf{+SA}'
).replace(
    '+ FB \\& SA', '\\textbf{+FB, SA}'
).replace(
    '+ FB', '\\textbf{+FB}'
)

# 기존 문자열에서 헤더 교체
tex_str = tex_str.replace(original_header, modified_header)

tex_str = tex_str.replace('\\begin{tabular}{llrrrrrrrr}', '\\begin{tabular}{ll|rrrr|rrrr}')

tex_str = tex_str.replace('chatgpt-4o', '\\texttt{chatgpt-4o-latest} (Dec 2024)')


tabular_header = "\\begin{tabular}{p{1.5cm}|p{0.73cm}p{0.73cm}p{0.73cm}|p{0.73cm}p{0.73cm}p{0.73cm}}"
# 기존 header를 새 header로 교체
tex_str = tex_str.replace("\\begin{tabular}{lrrlrrl}", tabular_header)

with open('feedback_input.tex', 'w') as f:
    f.write(tex_str)
display(Latex(tex_str))