In [185]:
from dotenv import load_dotenv
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import os

In [186]:
load_dotenv(override=True)
csv_path = os.getenv('CSV_PATH')
csv_path

'wandb_output_2024-12-25-14-14-59.csv'

In [187]:
df = pd.read_csv(csv_path)
df.describe()

,target_character,branch_factor,total_iterations,n_self_alignment,total_timesteps,seed,Evaluation/llm_iteration,Evaluation/acc_imp_perc,Evaluation/exist_imp_perc,Evaluation/reach_imp_perc,Evaluation/path_length,Evaluation/fn_imp_perc,Evaluation/fp_imp_perc,Evaluation/tn_imp_perc,Evaluation/tp_imp_perc,Evaluation/solvability,Evaluation/playability
count,1150.000000,1150.0,1150.000000,1150.000000,1.150000e+03,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000
mean,1.481739,2.0,7.153043,1.047826,4.895652e+07,3.513913,3.861739,0.136309,0.649101,0.411348,19.330417,2.404957,0.186116,0.149043,0.259884,0.229101,0.503188
std,0.499884,0.0,1.459957,2.035877,6.378531e+06,1.748623,2.051346,0.243482,0.300190,0.341956,11.857983,0.927094,0.384427,0.341443,0.512099,0.336054,0.440814
min,1.000000,2.0,6.000000,0.000000,1.000000e+07,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,2.0,6.000000,0.000000,5.000000e+07,2.000000,2.000000,0.000000,0.466667,0.116667,0.000000,2.333333,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,2.0,6.000000,0.000000,5.000000e+07,4.000000,4.000000,0.011111,0.700000,0.316667,26.000002,2.866667,0.000000,0.000000,0.000000,0.066667,0.466667
75%,2.000000,2.0,9.000000,0.000000,5.000000e+07,5.000000,5.000000,0.133333,0.933333,0.666667,26.400000,3.000000,0.200000,0.100000,0.200000,0.266667,1.000000
max,2.000000,2.0,9.000000,5.000000,5.000000e+07,8.000000,9.000000,1.000000,1.000000,1.000000,33.000000,3.000000,2.000000,2.000000,2.000000,1.000000,1.000000

In [188]:
df.columns

Index(['run_id', 'final_state', 'target_character', 'pe', 'gpt_model',
       'branch_factor', 'exp_name', 'evaluator', 'total_iterations',
       'n_self_alignment', 'feedback_type', 'total_timesteps',
       'reward_feature', 'fewshot', 'problem', 'seed',
       'Evaluation/llm_iteration', 'Evaluation/acc_imp_perc',
       'Evaluation/exist_imp_perc', 'Evaluation/reach_imp_perc',
       'Evaluation/path_length', 'Evaluation/fn_imp_perc',
       'Evaluation/fp_imp_perc', 'Evaluation/tn_imp_perc',
       'Evaluation/tp_imp_perc', 'Evaluation/solvability',
       'Evaluation/playability'],
      dtype='object')

In [189]:
df = df[df['fewshot'] == False]
df = df[df['feedback_type'] == 'default']
df = df[df['gpt_model'] == 'gpt-4o']
df = df[df['pe'].isin(['tot', 'got'])]
df

,run_id,final_state,target_character,pe,gpt_model,branch_factor,exp_name,evaluator,total_iterations,n_self_alignment,...,Evaluation/acc_imp_perc,Evaluation/exist_imp_perc,Evaluation/reach_imp_perc,Evaluation/path_length,Evaluation/fn_imp_perc,Evaluation/fp_imp_perc,Evaluation/tn_imp_perc,Evaluation/tp_imp_perc,Evaluation/solvability,Evaluation/playability
48,ac0lhrgs,pe-tot_it-9_fit-hr_exp-def_t-sce_chr-1_1_s-1,1,tot,gpt-4o,2,def,hr,9,0,...,0.077778,1.000000,0.900000,26.666668,2.100000,0.666667,0.000000,0.233333,0.333333,0.700000
49,ac0lhrgs,pe-tot_it-9_fit-hr_exp-def_t-sce_chr-1_1_s-1,1,tot,gpt-4o,2,def,hr,9,0,...,0.411111,0.966667,0.866667,26.347826,1.033333,0.733333,0.733333,0.500000,0.733333,0.766667
50,ac0lhrgs,pe-tot_it-9_fit-hr_exp-def_t-sce_chr-1_1_s-1,1,tot,gpt-4o,2,def,hr,9,0,...,0.088889,1.000000,0.800000,26.235294,2.600000,0.133333,0.133333,0.133333,0.133333,0.566667
51,ac0lhrgs,pe-tot_it-9_fit-hr_exp-def_t-sce_chr-1_1_s-1,1,tot,gpt-4o,2,def,hr,9,0,...,0.011111,0.966667,0.333333,28.000000,2.900000,0.066667,0.000000,0.033333,0.033333,0.066667
52,ac0lhrgs,pe-tot_it-9_fit-hr_exp-def_t-sce_chr-1_1_s-1,1,tot,gpt-4o,2,def,hr,9,0,...,0.000000,1.000000,0.300000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1121,1f9wvxa9,pe-got_it-6_fit-llm_exp-llmeval_t-sce_chr-1_1_s-5,1,got,gpt-4o,2,llmeval,llm,6,0,...,0.000000,0.466667,0.166667,29.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.066667
1122,1f9wvxa9,pe-got_it-6_fit-llm_exp-llmeval_t-sce_chr-1_1_s-5,1,got,gpt-4o,2,llmeval,llm,6,0,...,0.000000,0.466667,0.166667,29.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.066667
1123,1f9wvxa9,pe-got_it-6_fit-llm_exp-llmeval_t-sce_chr-1_1_s-5,1,got,gpt-4o,2,llmeval,llm,6,0,...,0.011111,0.666667,0.566667,26.526316,2.766667,0.200000,0.000000,0.033333,0.100000,0.633333
1124,1f9wvxa9,pe-got_it-6_fit-llm_exp-llmeval_t-sce_chr-1_1_s-5,1,got,gpt-4o,2,llmeval,llm,6,0,...,0.000000,0.133333,0.133333,26.000002,2.866667,0.133333,0.000000,0.000000,0.066667,1.000000
1125,1f9wvxa9,pe-got_it-6_fit-llm_exp-llmeval_t-sce_chr-1_1_s-5,1,got,gpt-4o,2,llmeval,llm,6,0,...,0.000000,0.133333,0.133333,26.000002,2.866667,0.133333,0.000000,0.000000,0.066667,1.000000

In [190]:
df.groupby(['gpt_model', 'pe', 'evaluator']).agg({'Evaluation/acc_imp_perc': ['count']})

                        Evaluation/acc_imp_perc
                                          count
gpt_model pe  evaluator
gpt-4o    got hr                            227
              llm                            60
          tot hr                            215
              llm                            60

In [191]:
base_df = df[(df['Evaluation/llm_iteration'] == 1)]
base_df = base_df.groupby(['gpt_model', 'pe', 'evaluator']).agg({'Evaluation/acc_imp_perc': ['mean']})
base_df.columns = ['Base']
base_df = base_df.reset_index()
base_df

  gpt_model   pe evaluator      Base
0    gpt-4o  got        hr  0.051111
1    gpt-4o  got       llm  0.062222
2    gpt-4o  tot        hr  0.042063
3    gpt-4o  tot       llm  0.105556

In [192]:
fb_df = df[(df['Evaluation/llm_iteration'] == 6)]
fb_df = fb_df.groupby(['gpt_model', 'pe', 'evaluator']).agg({'Evaluation/acc_imp_perc': ['mean']})
fb_df.columns = ['+ Feedback']
fb_df = fb_df.reset_index()
fb_df

  gpt_model   pe evaluator  + Feedback
0    gpt-4o  got        hr    0.094815
1    gpt-4o  got       llm    0.017778
2    gpt-4o  tot        hr    0.223810
3    gpt-4o  tot       llm    0.071111

In [193]:
pk = ['gpt_model', 'pe', 'evaluator']

result = pd.merge(base_df, fb_df, on=pk)
result['Delta'] = result['+ Feedback'] - result['Base']

# Add mean row
mean_row = result.groupby(['gpt_model', 'evaluator']).agg({'Base': 'mean', '+ Feedback': 'mean', 'Delta': 'mean'}).reset_index()
# concat
mean_row['pe'] = ('mean')
result = pd.concat([result, mean_row], ignore_index=True)
result

  gpt_model    pe evaluator      Base  + Feedback     Delta
0    gpt-4o   got        hr  0.051111    0.094815  0.043704
1    gpt-4o   got       llm  0.062222    0.017778 -0.044444
2    gpt-4o   tot        hr  0.042063    0.223810  0.181746
3    gpt-4o   tot       llm  0.105556    0.071111 -0.034444
4    gpt-4o  mean        hr  0.046587    0.159312  0.112725
5    gpt-4o  mean       llm  0.083889    0.044444 -0.039444

In [194]:

pe_order = ["cot", "tot", "got", "mean"]  # 예: Prompt Engineering 방식

result['pe'] = pd.Categorical(result['pe'], categories=pe_order, ordered=True)


pivot_df = result.pivot_table(index=['pe'], columns='evaluator', values=['Base', '+ Feedback', 'Delta'])
pivot_df

/var/folders/x_/2lt9k5kn52q43m1_z0kp7tfm0000gn/T/ipykernel_55429/1534890429.py:6: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot_df = result.pivot_table(index=['pe'], columns='evaluator', values=['Base', '+ Feedback', 'Delta'])

          + Feedback                Base               Delta
evaluator         hr       llm        hr       llm        hr       llm
pe
tot         0.223810  0.071111  0.042063  0.105556  0.181746 -0.034444
got         0.094815  0.017778  0.051111  0.062222  0.043704 -0.044444
mean        0.159312  0.044444  0.046587  0.083889  0.112725 -0.039444

In [195]:
pivot_df.columns = pivot_df.columns.swaplevel(0, 1)
pivot_df.columns

MultiIndex([( 'hr', '+ Feedback'),
            ('llm', '+ Feedback'),
            ( 'hr',       'Base'),
            ('llm',       'Base'),
            ( 'hr',      'Delta'),
            ('llm',      'Delta')],
           names=['evaluator', None])

In [196]:
# 정렬 (주어진 Categorical 순서가 반영됨)
pivot_df = pivot_df.sort_index(level=['pe'], sort_remaining=False)

column_order = [
            (    'hr',                        'Base'),
            (    'hr',            '+ Feedback'),
            (    'hr',            'Delta'),
            (    'llm',                  'Base'),
            (    'llm', '+ Feedback'),
            (    'llm', 'Delta'),
]

# 결과 확인
pivot_df = pivot_df[column_order]
pivot_df

evaluator        hr                            llm
               Base + Feedback     Delta      Base + Feedback     Delta
pe
tot        0.042063   0.223810  0.181746  0.105556   0.071111 -0.034444
got        0.051111   0.094815  0.043704  0.062222   0.017778 -0.044444
mean       0.046587   0.159312  0.112725  0.083889   0.044444 -0.039444

In [197]:
# change ('hr', 'Delta') column values to string with lambda
# pivot_df[('hr', 'Delta')] = pivot_df[('hr', 'Delta')].apply(lambda x: f'{x:.3f}')
pivot_df[('hr', 'Delta')] = pivot_df[('hr', 'Delta')].apply(
    lambda x: f'+{x:.3f}' if x > 0 else f'{x:.3f}'
)
pivot_df[('llm', 'Delta')] = pivot_df[('llm', 'Delta')].apply(
    lambda x: f'+{x:.3f}' if x > 0 else f'{x:.3f}'
)
pivot_df

evaluator        hr                          llm
               Base + Feedback   Delta      Base + Feedback   Delta
pe
tot        0.042063   0.223810  +0.182  0.105556   0.071111  -0.034
got        0.051111   0.094815  +0.044  0.062222   0.017778  -0.044
mean       0.046587   0.159312  +0.113  0.083889   0.044444  -0.039

In [198]:
def insert_str(src_str, idx, insert_str):
    # LaTeX 문자열을 줄 단위로 나눔
    lines = src_str.splitlines()
    
    # 지정된 줄 번호 뒤에 \midrule 삽입
    lines.insert(idx, insert_str)
    
    # 다시 LaTeX 문자열로 결합
    return "\n".join(lines)

In [218]:
from IPython.display import display, Latex


tex_str = pivot_df.to_latex(buf=None, escape=True, bold_rows=False, position='!h', float_format="%.3f", multicolumn_format='c',
                            caption='Ablation study results for framework architecture, comparing accuracy across prompt engineering methods and scenarios.', label='tab:self_evaluation')

tex_str = tex_str.replace('target_character', 'Scenario')
tex_str = tex_str.replace('pe &', 'PE &')
tex_str = tex_str.replace('evaluator &', '\\textbf{Evaluator} &')
tex_str = tex_str.replace('gpt_model', '')
# tex_str = tex_str.replace('table', 'table*')
# tex_str = tex_str.replace('Self-Alignment', 'SA')
# tex_str = tex_str.replace('Self-Alignment', 'SA')
# tex_str = tex_str.replace('Feedback', 'FB')
tex_str = tex_str.replace('\cline{1-10}\n', '')
tex_str = tex_str.replace('+ Feedback', '+FB')
tex_str = tex_str.replace('cot', 'CoT').replace('tot', 'ToT').replace('got', 'GoT')
tex_str = tex_str.replace('mean & mean', '\\multicolumn{2}{c|}{\\textbf{Mean}}')
tex_str = tex_str.replace('\multicolumn{3}{c}{hr}', '\multicolumn{3}{c|}{\\textbf{Heuristic (Oracle)}}')
tex_str = tex_str.replace('\multicolumn{3}{c}{llm}', '\multicolumn{3}{c}{\\textbf{LLM (Self-evaluate)}}')
tex_str = tex_str.replace('Delta', '$\\Delta{}$')
tex_str = tex_str.replace('mean &', '\\textbf{Mean} &')

original_header = ' &  & Base & + SA & + FB & + FB \\& SA & Base & + SA & + FB & + FB \\& SA \\\\'
modified_header = original_header.replace(
    'Base', '\\textbf{Base}'
).replace(
    '+ SA', '\\textbf{+SA}'
).replace(
    '+ FB \\& SA', '\\textbf{+FB, SA}'
).replace(
    '+ FB', '\\textbf{+FB}'
)

# 기존 문자열에서 헤더 교체
tex_str = tex_str.replace(original_header, modified_header)

tex_str = tex_str.replace('\\begin{tabular}{llrrrrrrrr}', '\\begin{tabular}{ll|rrrr|rrrr}')

tex_str = tex_str.replace('chatgpt-4o', '\\texttt{chatgpt-4o-latest} (Dec 2024)')

offset = 0
tex_str = insert_str(tex_str, offset + 11, "\\midrule")
offset += 1


tabular_header = "\\begin{tabular}{p{1.5cm}|p{0.73cm}p{0.73cm}p{0.73cm}|p{0.73cm}p{0.73cm}p{0.73cm}}"
# 기존 header를 새 header로 교체
tex_str = tex_str.replace("\\begin{tabular}{lrrlrrl}", tabular_header)

with open('self_evaluation.tex', 'w') as f:
    f.write(tex_str)
display(Latex(tex_str))