In [1]:
from dotenv import load_dotenv
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import os

In [2]:
load_dotenv(override=True)
csv_path = os.getenv('CSV_PATH')
csv_path

'wandb_output_2025-01-06-15-03-01.csv'

In [3]:
df = pd.read_csv(csv_path)
df.describe()

,target_character,branch_factor,total_iterations,n_self_alignment,total_timesteps,seed,Evaluation/llm_iteration,Evaluation/acc_imp_perc,Evaluation/exist_imp_perc,Evaluation/reach_imp_perc,Evaluation/path_length,Evaluation/fn_imp_perc,Evaluation/fp_imp_perc,Evaluation/tn_imp_perc,Evaluation/tp_imp_perc,Evaluation/solvability,Evaluation/playability
count,1798.000000,1798.0,1798.000000,1798.000000,1.798000e+03,1798.000000,1798.000000,1798.000000,1798.000000,1798.000000,1798.000000,1798.000000,1798.000000,1798.000000,1798.000000,1798.000000,1798.000000
mean,1.489989,2.0,6.737486,1.754727,4.933259e+07,3.926029,3.731368,0.162341,0.711939,0.471394,19.717034,2.202892,0.310085,0.150445,0.336578,0.296125,0.513330
std,0.500039,0.0,1.292092,2.386993,5.124988e+06,2.429090,1.942302,0.243601,0.288783,0.354425,11.702168,1.046293,0.570432,0.323400,0.535679,0.371133,0.436335
min,1.000000,2.0,6.000000,0.000000,1.000000e+07,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,2.0,6.000000,0.000000,5.000000e+07,2.000000,2.000000,0.000000,0.533333,0.133333,0.000000,1.600000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,2.0,6.000000,0.000000,5.000000e+07,4.000000,4.000000,0.022222,0.783333,0.416667,26.000002,2.766667,0.000000,0.000000,0.033333,0.100000,0.533333
75%,2.000000,2.0,6.000000,5.000000,5.000000e+07,5.000000,5.000000,0.266667,1.000000,0.833333,26.500000,3.000000,0.333333,0.100000,0.500000,0.566667,1.000000
max,2.000000,2.0,9.000000,5.000000,5.000000e+07,15.000000,9.000000,1.000000,1.000000,1.000000,34.000000,3.000000,2.000000,2.000000,2.000000,1.000000,1.000000

In [4]:
df.columns

Index(['run_id', 'final_state', 'target_character', 'pe', 'gpt_model',
       'branch_factor', 'exp_name', 'evaluator', 'total_iterations',
       'n_self_alignment', 'feedback_type', 'feedback_input_type',
       'total_timesteps', 'reward_feature', 'fewshot', 'problem', 'seed',
       'Evaluation/llm_iteration', 'Evaluation/acc_imp_perc',
       'Evaluation/exist_imp_perc', 'Evaluation/reach_imp_perc',
       'Evaluation/path_length', 'Evaluation/fn_imp_perc',
       'Evaluation/fp_imp_perc', 'Evaluation/tn_imp_perc',
       'Evaluation/tp_imp_perc', 'Evaluation/solvability',
       'Evaluation/playability'],
      dtype='object')

In [5]:
df = df[df['fewshot'] == False]

df = df[df['exp_name'] != 'vision']
df = df[df['n_self_alignment'] == 0]

df = df[df['feedback_type'] == 'default']
df = df[df['gpt_model'] == 'gpt-4o']
df = df[df['pe'].isin(['tot', 'got'])]
df = df[df['Evaluation/llm_iteration'] <= 6]
df

,run_id,final_state,target_character,pe,gpt_model,branch_factor,exp_name,evaluator,total_iterations,n_self_alignment,...,Evaluation/acc_imp_perc,Evaluation/exist_imp_perc,Evaluation/reach_imp_perc,Evaluation/path_length,Evaluation/fn_imp_perc,Evaluation/fp_imp_perc,Evaluation/tn_imp_perc,Evaluation/tp_imp_perc,Evaluation/solvability,Evaluation/playability
48,ac0lhrgs,finished,1,tot,gpt-4o,2,def,hr,9,0,...,0.077778,1.000000,0.900000,26.666668,2.100000,0.666667,0.000000,0.233333,0.333333,0.700000
49,ac0lhrgs,finished,1,tot,gpt-4o,2,def,hr,9,0,...,0.411111,0.966667,0.866667,26.347826,1.033333,0.733333,0.733333,0.500000,0.733333,0.766667
50,ac0lhrgs,finished,1,tot,gpt-4o,2,def,hr,9,0,...,0.088889,1.000000,0.800000,26.235294,2.600000,0.133333,0.133333,0.133333,0.133333,0.566667
51,ac0lhrgs,finished,1,tot,gpt-4o,2,def,hr,9,0,...,0.011111,0.966667,0.333333,28.000000,2.900000,0.066667,0.000000,0.033333,0.033333,0.066667
52,ac0lhrgs,finished,1,tot,gpt-4o,2,def,hr,9,0,...,0.000000,1.000000,0.300000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1025,1f9wvxa9,finished,1,got,gpt-4o,2,llmeval,llm,6,0,...,0.000000,0.466667,0.166667,29.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.066667
1026,1f9wvxa9,finished,1,got,gpt-4o,2,llmeval,llm,6,0,...,0.000000,0.466667,0.166667,29.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.066667
1027,1f9wvxa9,finished,1,got,gpt-4o,2,llmeval,llm,6,0,...,0.011111,0.666667,0.566667,26.526316,2.766667,0.200000,0.000000,0.033333,0.100000,0.633333
1028,1f9wvxa9,finished,1,got,gpt-4o,2,llmeval,llm,6,0,...,0.000000,0.133333,0.133333,26.000002,2.866667,0.133333,0.000000,0.000000,0.066667,1.000000
1029,1f9wvxa9,finished,1,got,gpt-4o,2,llmeval,llm,6,0,...,0.000000,0.133333,0.133333,26.000002,2.866667,0.133333,0.000000,0.000000,0.066667,1.000000

In [6]:
df.groupby(['gpt_model', 'pe', 'evaluator']).agg({'Evaluation/acc_imp_perc': ['count']})

                        Evaluation/acc_imp_perc
                                          count
gpt_model pe  evaluator
gpt-4o    got hr                             84
              llm                            60
          tot hr                             90
              llm                            60

In [7]:
base_df = df[(df['Evaluation/llm_iteration'] == 1)]
base_df = base_df.groupby(['gpt_model', 'pe', 'evaluator']).agg({'Evaluation/acc_imp_perc': ['mean']})
base_df.columns = ['Base']
base_df = base_df.reset_index()
base_df

  gpt_model   pe evaluator      Base
0    gpt-4o  got        hr  0.032540
1    gpt-4o  got       llm  0.062222
2    gpt-4o  tot        hr  0.028148
3    gpt-4o  tot       llm  0.105556

In [8]:
fb_df = df[(df['Evaluation/llm_iteration'] == 6)]
fb_df = fb_df.groupby(['gpt_model', 'pe', 'evaluator']).agg({'Evaluation/acc_imp_perc': ['mean']})
fb_df.columns = ['+ Feedback']
fb_df = fb_df.reset_index()
fb_df

  gpt_model   pe evaluator  + Feedback
0    gpt-4o  got        hr    0.076190
1    gpt-4o  got       llm    0.017778
2    gpt-4o  tot        hr    0.328889
3    gpt-4o  tot       llm    0.071111

In [9]:
pk = ['gpt_model', 'pe', 'evaluator']

result = pd.merge(base_df, fb_df, on=pk)
result['Delta'] = result['+ Feedback'] - result['Base']

# Add mean row
mean_row = result.groupby(['gpt_model', 'evaluator']).agg({'Base': 'mean', '+ Feedback': 'mean', 'Delta': 'mean'}).reset_index()
# concat
mean_row['pe'] = ('mean')
result = pd.concat([result, mean_row], ignore_index=True)
result

  gpt_model    pe evaluator      Base  + Feedback     Delta
0    gpt-4o   got        hr  0.032540    0.076190  0.043651
1    gpt-4o   got       llm  0.062222    0.017778 -0.044444
2    gpt-4o   tot        hr  0.028148    0.328889  0.300741
3    gpt-4o   tot       llm  0.105556    0.071111 -0.034444
4    gpt-4o  mean        hr  0.030344    0.202540  0.172196
5    gpt-4o  mean       llm  0.083889    0.044444 -0.039444

In [10]:

pe_order = ["cot", "tot", "got", "mean"]  # 예: Prompt Engineering 방식

result['pe'] = pd.Categorical(result['pe'], categories=pe_order, ordered=True)


pivot_df = result.pivot_table(index=['pe'], columns='evaluator', values=['Base', '+ Feedback', 'Delta'])
pivot_df

/var/folders/x_/2lt9k5kn52q43m1_z0kp7tfm0000gn/T/ipykernel_60634/1534890429.py:6: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot_df = result.pivot_table(index=['pe'], columns='evaluator', values=['Base', '+ Feedback', 'Delta'])

          + Feedback                Base               Delta
evaluator         hr       llm        hr       llm        hr       llm
pe
tot         0.328889  0.071111  0.028148  0.105556  0.300741 -0.034444
got         0.076190  0.017778  0.032540  0.062222  0.043651 -0.044444
mean        0.202540  0.044444  0.030344  0.083889  0.172196 -0.039444

In [11]:
pivot_df.columns = pivot_df.columns.swaplevel(0, 1)
pivot_df.columns

MultiIndex([( 'hr', '+ Feedback'),
            ('llm', '+ Feedback'),
            ( 'hr',       'Base'),
            ('llm',       'Base'),
            ( 'hr',      'Delta'),
            ('llm',      'Delta')],
           names=['evaluator', None])

In [12]:
# 정렬 (주어진 Categorical 순서가 반영됨)
pivot_df = pivot_df.sort_index(level=['pe'], sort_remaining=False)

column_order = [
            (    'hr',                        'Base'),
            (    'hr',            '+ Feedback'),
            (    'hr',            'Delta'),
            (    'llm',                  'Base'),
            (    'llm', '+ Feedback'),
            (    'llm', 'Delta'),
]

# 결과 확인
pivot_df = pivot_df[column_order]
pivot_df

evaluator        hr                            llm
               Base + Feedback     Delta      Base + Feedback     Delta
pe
tot        0.028148   0.328889  0.300741  0.105556   0.071111 -0.034444
got        0.032540   0.076190  0.043651  0.062222   0.017778 -0.044444
mean       0.030344   0.202540  0.172196  0.083889   0.044444 -0.039444

In [13]:
# change ('hr', 'Delta') column values to string with lambda
# pivot_df[('hr', 'Delta')] = pivot_df[('hr', 'Delta')].apply(lambda x: f'{x:.3f}')
pivot_df[('hr', 'Delta')] = pivot_df[('hr', 'Delta')].apply(
    lambda x: f'+{x:.3f}' if x > 0 else f'{x:.3f}'
)
pivot_df[('llm', 'Delta')] = pivot_df[('llm', 'Delta')].apply(
    lambda x: f'+{x:.3f}' if x > 0 else f'{x:.3f}'
)
pivot_df

evaluator        hr                          llm
               Base + Feedback   Delta      Base + Feedback   Delta
pe
tot        0.028148   0.328889  +0.301  0.105556   0.071111  -0.034
got        0.032540   0.076190  +0.044  0.062222   0.017778  -0.044
mean       0.030344   0.202540  +0.172  0.083889   0.044444  -0.039

In [14]:
def insert_str(src_str, idx, insert_str):
    # LaTeX 문자열을 줄 단위로 나눔
    lines = src_str.splitlines()
    
    # 지정된 줄 번호 뒤에 \midrule 삽입
    lines.insert(idx, insert_str)
    
    # 다시 LaTeX 문자열로 결합
    return "\n".join(lines)

In [16]:
from IPython.display import display, Latex


tex_str = pivot_df.to_latex(buf=None, escape=True, bold_rows=False, position='!h', float_format="%.3f", multicolumn_format='c',
                            caption='Results of an ablation study comparing the performance of heuristic and LLM-based evaluators when feedback is applied to each PE method.', label='tab:self_evaluation')

tex_str = tex_str.replace('target_character', 'Scenario')
tex_str = tex_str.replace('pe &', 'PE &')
tex_str = tex_str.replace('evaluator &', '\\textbf{Evaluator} &')
tex_str = tex_str.replace('gpt_model', '')
# tex_str = tex_str.replace('table', 'table*')
# tex_str = tex_str.replace('Self-Alignment', 'SA')
# tex_str = tex_str.replace('Self-Alignment', 'SA')
# tex_str = tex_str.replace('Feedback', 'FB')
tex_str = tex_str.replace('\cline{1-10}\n', '')
tex_str = tex_str.replace('+ Feedback', '+FB')
tex_str = tex_str.replace('cot', 'CoT').replace('tot', 'ToT').replace('got', 'GoT')
tex_str = tex_str.replace('mean & mean', '\\multicolumn{2}{c|}{\\textbf{Mean}}')
tex_str = tex_str.replace('\multicolumn{3}{c}{hr}', '\multicolumn{3}{c|}{\\textbf{Heuristic (Oracle)}}')
tex_str = tex_str.replace('\multicolumn{3}{c}{llm}', '\multicolumn{3}{c}{\\textbf{LLM (Self-evaluate)}}')
tex_str = tex_str.replace('Delta', '$\\Delta{}$')
tex_str = tex_str.replace('mean &', '\\textbf{Mean} &')

original_header = ' &  & Base & + SA & + FB & + FB \\& SA & Base & + SA & + FB & + FB \\& SA \\\\'
modified_header = original_header.replace(
    'Base', '\\textbf{Base}'
).replace(
    '+ SA', '\\textbf{+SA}'
).replace(
    '+ FB \\& SA', '\\textbf{+FB, SA}'
).replace(
    '+ FB', '\\textbf{+FB}'
)

# 기존 문자열에서 헤더 교체
tex_str = tex_str.replace(original_header, modified_header)

tex_str = tex_str.replace('\\begin{tabular}{llrrrrrrrr}', '\\begin{tabular}{ll|rrrr|rrrr}')

tex_str = tex_str.replace('chatgpt-4o', '\\texttt{chatgpt-4o-latest} (Dec 2024)')

offset = 0
tex_str = insert_str(tex_str, offset + 11, "\\midrule")
offset += 1


tabular_header = "\\begin{tabular}{p{1.5cm}|p{0.73cm}p{0.73cm}p{0.73cm}|p{0.73cm}p{0.73cm}p{0.73cm}}"
# 기존 header를 새 header로 교체
tex_str = tex_str.replace("\\begin{tabular}{lrrlrrl}", tabular_header)

with open('self_evaluation.tex', 'w') as f:
    f.write(tex_str)
display(Latex(tex_str))