In [1]:
import numpy as np
import wandb
import pandas as pd
from tqdm import tqdm

In [2]:
api = wandb.Api(timeout=600)

In [3]:
runs = api.runs("inchangbaek4907/scenario")
len(runs)

233

In [4]:
runs = list(runs)
runs[:5]

[<Run inchangbaek4907/scenario/re2wd1xx (finished)>,
 <Run inchangbaek4907/scenario/h5m442q9 (finished)>,
 <Run inchangbaek4907/scenario/ak7yr998 (finished)>,
 <Run inchangbaek4907/scenario/mwu8l4yk (finished)>,
 <Run inchangbaek4907/scenario/7ek9ue01 (finished)>]

In [5]:

class RunInfo:
    config: dict
    name: str
    run_object: wandb.apis.public.Run
    
    def __init__(self, config, name, run_object):
        self.config = config
        self.name = name
        self.run_object = run_object

    def __str__(self):
        showing_config = dict()
        showing_keys = ['gpt_model']
        
        for key in showing_keys:
            if key in self.config:
                showing_config[key] = self.config[key]
        
        return f"RunInfo(\n\tname={self.name},\n\tconfig={showing_config}\n)"

run_infos = list()

for run in tqdm(runs):
    run_info = RunInfo(config=run.config, name=run.name, run_object=run)
    run_infos.append(run_info)

100%|██████████| 233/233 [00:00<00:00, 164551.75it/s]

In [6]:

for run_info in tqdm(run_infos[:]):
    run = run_info.run_object
    
    # if run_info.config['gpt_model'] == 'gpt-4o-multi':
    #     run.config['gpt_model'] = 'gpt-4o'
    #     run.update()
    if run_info.config['gpt_model'] == 'chatgpt-4o':

        run.name = run.name.replace('exp-def', 'exp-chatgpt4o')
        run.config['exp_group'] = run.config['exp_group'].replace('exp-def', 'exp-chatgpt4o')
        run.update()

100%|██████████| 233/233 [00:37<00:00,  6.23it/s]

In [7]:
configs = list()
for run_info in tqdm(run_infos[:]):
    configs.append(run_info.config)
    
df = pd.DataFrame(configs)
df

100%|██████████| 233/233 [00:00<00:00, 862553.25it/s]

,lr,pe,seed,task,DEBUG,GAMMA,is_3d,model,n_eps,n_envs,...,n_generation_trials,randomize_map_shape,randomize_start_pos,timestep_chunk_size,bypass_feedback_path,eval_max_board_scans,reward_function_path,eval_randomize_map_shape,n_self_alignment,feedback_type
0,0.0001,cot,1,scenario,True,0.99,False,conv,2,600,...,5,False,False,-1,None,3,None,False,NaN,NaN
1,0.0001,cot,1,scenario,True,0.99,False,conv,2,600,...,5,False,False,-1,None,3,None,False,NaN,NaN
2,0.0001,cot,2,scenario,True,0.99,False,conv,2,600,...,5,False,False,-1,None,3,None,False,NaN,NaN
3,0.0001,cot,3,scenario,True,0.99,False,conv,2,600,...,5,False,False,-1,None,3,None,False,NaN,NaN
4,0.0001,cot,4,scenario,True,0.99,False,conv,2,600,...,5,False,False,-1,None,3,None,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,0.0001,cot,5,scenario,True,0.99,False,conv,2,600,...,5,False,False,-1,None,3,None,False,0.0,default
229,0.0001,cot,6,scenario,True,0.99,False,conv,2,600,...,5,False,False,-1,None,3,None,False,0.0,default
230,0.0001,cot,6,scenario,True,0.99,False,conv,2,600,...,5,False,False,-1,None,3,None,False,0.0,default
231,0.0001,cot,7,scenario,True,0.99,False,conv,2,600,...,5,False,False,-1,None,3,None,False,0.0,default
232,0.0001,cot,7,scenario,True,0.99,False,conv,2,600,...,5,False,False,-1,None,3,None,False,0.0,default

In [8]:
grouped = df.groupby(['exp_group', 'target_character']).agg({'seed': ['count', 'max']})
grouped.columns = ['count', 'max']
grouped = grouped.reset_index()
grouped

                                   exp_group target_character  count  max
0     pe-cot_it-6_fit-hr_exp-chatgpt4o_t-sce                1      5    4
1     pe-cot_it-6_fit-hr_exp-chatgpt4o_t-sce                2      8   12
2   pe-cot_it-6_fit-hr_exp-chatgpt4osa_t-sce                1      6    6
3   pe-cot_it-6_fit-hr_exp-chatgpt4osa_t-sce                2      6    6
4           pe-cot_it-6_fit-hr_exp-def_t-sce                1      5    5
5           pe-cot_it-6_fit-hr_exp-def_t-sce                2      5    5
6      pe-cot_it-6_fit-hr_exp-feedback_t-sce                1      5    5
7      pe-cot_it-6_fit-hr_exp-feedback_t-sce                1      5    5
8      pe-cot_it-6_fit-hr_exp-feedback_t-sce                2     10    5
9   pe-cot_it-6_fit-hr_exp-feedback_t-sce_fs                1     10    7
10  pe-cot_it-6_fit-hr_exp-feedback_t-sce_fs                2     10    5
11        pe-cot_it-6_fit-hr_exp-fs_t-sce_fs                1      7    7
12        pe-cot_it-6_fit-hr_exp-fs_t-sce_fs                2      7    7
13           pe-cot_it-6_fit-hr_exp-sa_t-sce                1      5    6
14           pe-cot_it-6_fit-hr_exp-sa_t-sce                2      5    5
15       pe-cot_it-6_fit-hr_exp-vision_t-sce                1      5   12
16       pe-cot_it-6_fit-hr_exp-vision_t-sce                2      5   14
17    pe-got_it-6_fit-hr_exp-chatgpt4o_t-sce                1      5    5
18    pe-got_it-6_fit-hr_exp-chatgpt4o_t-sce                2      5   11
19  pe-got_it-6_fit-hr_exp-chatgpt4osa_t-sce                1      6    6
20  pe-got_it-6_fit-hr_exp-chatgpt4osa_t-sce                2      6    6
21     pe-got_it-6_fit-llm_exp-llmeval_t-sce                1      5    5
22     pe-got_it-6_fit-llm_exp-llmeval_t-sce                2      5    4
23          pe-got_it-9_fit-hr_exp-def_t-sce                1      8    5
24          pe-got_it-9_fit-hr_exp-def_t-sce                2      6    5
25           pe-got_it-9_fit-hr_exp-sa_t-sce                1      8    8
26           pe-got_it-9_fit-hr_exp-sa_t-sce                2      8    8
27    pe-tot_it-6_fit-hr_exp-chatgpt4o_t-sce                1      5    5
28    pe-tot_it-6_fit-hr_exp-chatgpt4o_t-sce                2      8   15
29  pe-tot_it-6_fit-hr_exp-chatgpt4osa_t-sce                1      6    6
30  pe-tot_it-6_fit-hr_exp-chatgpt4osa_t-sce                2      5    6
31     pe-tot_it-6_fit-llm_exp-llmeval_t-sce                1      5    5
32     pe-tot_it-6_fit-llm_exp-llmeval_t-sce                2      5    5
33          pe-tot_it-9_fit-hr_exp-def_t-sce                1      8    5
34          pe-tot_it-9_fit-hr_exp-def_t-sce                2      7    5
35           pe-tot_it-9_fit-hr_exp-sa_t-sce                1      8    8
36           pe-tot_it-9_fit-hr_exp-sa_t-sce                2      5    7

In [9]:
scarce = grouped[grouped['count'] < 5]
scarce['demand'] = 5 - scarce['count']
scarce

Empty DataFrame
Columns: [exp_group, target_character, count, max, demand]
Index: []

In [10]:
scarce['demand'].sum()

0

In [11]:
commands = list()

def get_config(exp_group, target_character):
    return df[(df['exp_group'] == exp_group) & (df['target_character'] == target_character)].iloc[0]

for index, row in scarce.iterrows():
    
    config = get_config(row['exp_group'], row['target_character'])
    
    exp_group = row['exp_group']
    target_character = row['target_character']
    
    
    max_seed = row['max']
    total_iterations = config['total_iterations']
    gpt_model = config['gpt_model']
    exp_name = config['exp_name']
    n_self_alignment = config['n_self_alignment']
    evaluator = config['evaluator']
    pe = config['pe']
    
    # if nan
    if pd.isna(n_self_alignment):

        n_self_alignment = 0
    n_self_alignment = int(n_self_alignment)
    
    # if gpt_model == 'chatgpt-4o':
    #     exp_name = exp_name.replace('def', 'chatgpt4o')
    # 
    for i in range(row['demand']):
        command = f"bash sbatch_gpu.sh experiment.py n_envs=600 wandb_project=scenario task=scenario overwrite=True pe={pe} exp_name={exp_name} gpt_model={gpt_model} total_iterations={total_iterations} seed={max_seed + (i + 1)} evaluator={evaluator} target_character={target_character} n_self_alignment={n_self_alignment}"
        commands.append(command)

commands

[]

In [12]:
commands_block = " \n".join(commands)
from IPython.display import display, Markdown
display(Markdown("```bash\n" + commands_block + ""))

```bash